@import "./variables";

* {
    box-sizing: border-box;
}

.main_detail{
    margin-left: $fixed-width;
    background-color: $myGreen;

    .loading{
        display: flex;
        height: 100vh;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        font-weight: 1000;
    }

    .movieContent{
        
        background-color: $myGreen;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        

        .movie{
            height: auto;
            width: 80%;
            padding: 50px;
            margin: 80px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            background-color: $myGrey;
            align-items: center;

            .movie_title{
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 1000;
                margin-bottom: 40px;
                font-size: 3.0vw;
                text-align: center;
                
            }

            .goBack{
                font-size: 1.4vw;
                text-align: center;
                background-color: $myGreen;
                color: white;
                font-weight: 800;
                width: 20%;
                padding: 15px;
                margin-bottom: 40px;
                border-radius: 15px;
                text-decoration-line: none;
                align-self: flex-end;
                &:hover{
                    color: black;
                }
            }

            p{

                img{
                    max-width: 100%;
                    width: auto;
                    height: auto;

                }
            }

            .contents{
                margin-top: 50px;
                margin-left: 10%;
                font-size: 1.3vw;
                letter-spacing: 1px;
                line-height: 1.2;
                display: flex;
                flex-direction: column;

                .info{
                    font-weight: bold;
                    font-size: 1.4vw;
                    color: $myRed;
                    margin-bottom: 5px;
                }

                ul{
                    list-style:none;
                    margin:0;
                    padding:0;

                    li{
                        margin: 0 10px 0 0;
                        padding: 0 0 0 0;
                        border : 0;
                        float: left;
                    }
                }


                .summary{
                    margin-top: 30px;

                    .summary_title{
                        font-weight: bold;
                        font-size: 1.4vw;
                        color: rgb(240, 28, 81);
                        margin-bottom: 5px;
                    }


                }
                

            }

        
            

        }
        

    }

    
}

